<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>Gil López | Business Ingeneering Student</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" type="text/css" media="screen" href="/static/main.css" />
  <script src="https://kit.fontawesome.com/836a943e18.js" crossorigin="anonymous"></script>
  <link rel="shortcut icon" type="image/x-icon" href="/static/images/favicon.ico" />
</head>

<body>

  <header>
    <div class="container">
      <nav>
        <div class="nav-brand">
          <a href="index.html">
            <img src="/static/images/logo.png" alt="Chaoo" />
          </a>
        </div>
        <div class="burger-menu-icon">
          <div class="line1"></div>
          <div class="line2"></div>
          <div class="line3"></div>
        </div>
        <ul class="nav-list">
          <li class="nav-item">
            <a href="#landing-page">
              <img src="/static/images/gil.jpeg" alt="Gil López" class="profile-pic nav-link" />
              <span class="caption nav-link">Gil López</span>
            </a>
          </li>
          <li class="nav-item">
            <a href="#about" class="nav-link">About</a>
          </li>
          <li class="nav-item">
            <a href="#services" class="nav-link">Services</a>
          </li>
          <li class="nav-item">
            <a href="#projects" class="nav-link">Projects</a>
          </li>
          <li class="nav-item">
            <a href="#contact" class="nav-link">Contact</a>
          </li>
          <li class="nav-item">
            <a href="#" target="_blank" class="nav-link">
              <i class="fab fa-youtube"></i>
            </a>
            <a href="#" target="_blank" class="nav-link">
              <i class="fab fa-dev"></i>
            </a>
            <a href="#" target="_blank" class="nav-link">
              <i class="fab fa-twitter"></i>
            </a>
          </li>
          <div class="cta">
            <a href="#" target="_blank" class="btn nav-link">Buy Me Coffee</a>
          </div>
        </ul>
      </nav>
    </div>
  </header>

  <main>

    <section id="landing-page" class="landing-page">
      <div class="container">
        <div class="main-message">
          <h2>Gil López</h2>
          <h3>{Business Ingeneering Student}</h3>
          <p>Python . Html . CSS . JavaScript</p>
          <div class="intro-btn">
            <div class="cta">
              <a href="#contact" class="btn">Contacto</a>
            </div>
            <div class="cta">
              <a href="#projects" class="btn">Información General</a>
            </div>
          </div>
          <div>
            <a href="#about" class="scroll-down">
              <i class="fa fa-chevron-down" aria-hidden="true"></i>
            </a>
          </div>
        </div>
      </div>
    </section>


    <section id="about" class="about">
      <div class="container">
        <div class="about-img">
          <img src="/static/images/profile-pic.jpg" alt="Chaoo Charles" class="about-pic" />
        </div>
        <div class="about-text-box">
          <h2>Hola 👋🏻</h2>
          <p>
            Soy un joven honesto, responsable y dedicado. Me destaco en el
            análisis crítico y la lógica matemática. Siempre busco la excelencia
            y utilizar mis habilidades para fomentar el desarrollo de El Salvador.
          </p>
          <p>
            Siempre me ha interesado la matemática, la ciencia, la tecnología y la
            educación. Al realizar un trabajo, siempre me esfuerzo al máximo para que
            mi firma sea sinónimo de calidad.
          </p>
        </div>
      </div>
      <hr />
    </section>

    <section id="services" class="services">
      <div class="container">
        <div class="title-heading">
          <h2>EDUCACIÓN</h2>
          <p>
            i will help you to create a remarkable first impression with
            creative designs
          </p>
        </div>
        <div class="service-tiers">
          <div class="tier-item">
            <i class="fas fa-graduation-cap" aria-hidden="true"></i>
            <h2>Colegio Externado de San José</h2>
            <p>
              Bachillerato general
            </p>
            <p>
              (2007 - 2018)
            </p>
          </div>
          <div class="tier-item">
            <i class="fas fa-square-root-alt" aria-hidden="true"></i>
            <h2>Programa Jóvenes Talento</h2>
            <p>
              Escuela sabatina y programa Futuros Dirigentes Técnico Científicos
            </p>
            <p>
              (2015 - 2019)
            </p>
          </div>

          <div class="tier-item">
            <i class="fas fa-hard-hat" aria-hidden="true"></i>
            <h2>Escuela Superior de Economía y Negocios</h2>
            <p>
              Ingeniería de Negocios
            </p>
            <p>
              (2019 - 2021)
            </p>
          </div>

        </div>
      </div>
      <hr />
    </section>

    <section id="projects" class="projects">
      <div class="title-heading">
        <h2>Información General</h2>
        <p>these are some of my recent projects</p>
      </div>
      <div class="project-item">
        <div class="project-img has-margin-right">
          <img src="/static/images/sppms.png" />
        </div>
        <div class="project-description">
          <h2>Club de Opinión Política Estudiantil</h2>
          <p>
            Director de Publicaciones y Redacción.
          </p>
          <p>
            Responsable de la publicación de dos artículos semanales en El Diario de Hoy.
          </p>
          <p>
            (2020 - 2021)
          </p>
        </div>
      </div>

      <div class="project-item">
        <div class="project-description has-margin-right">
          <h2>Grupo Olímpico de Matemáticas de El Salvador</h2>
          <p>
            Miembro del grupo de alumnos destacados en el área de matemáticas del
            Programa Jóvenes Talento de El Salvador.
          </p>
          <p>
            (2016 - 2019)
          </p>
        </div>
        <div class="project-img">
          <img src="/static/images/to-do.png" />
        </div>
      </div>

      <div class="project-item">
        <div class="project-img has-margin-right">
          <img src="/static/images/calculator.png" />
        </div>
        <div class="project-description">
          <h2>Olimpiada Ignaciana de Matemática</h2>
          <p>
            Ganador de competencia anual de matemáticas de los colegios jesuitas de Centroamérica.
          </p>
          <p>
            (2014 - 2018)
          </p>
        </div>
      </div>
      <hr />
    </section>

    <section id="services" class="services">
      <div class="container">
        <div class="title-heading">
          <h2>Reconocimientos</h2>
          <p>
            i will help you to create a remarkable first impression with
            creative designs
          </p>
        </div>
        <div class="service-tiers">
          <div class="tier-item">
            <i class="fas fa-graduation-cap" aria-hidden="true"></i>
            <h2>Cuadro de Honor ESEN</h2>
            <p>
              (2019 - 2021)
            </p>
          </div>
          <div class="tier-item">
            <i class="fas fa-square-root-alt" aria-hidden="true"></i>
            <h2>Beca PAA</h2>
            <p>
              (2019)
            </p>
          </div>

          <div class="tier-item">
            <i class="fas fa-hard-hat" aria-hidden="true"></i>
            <h2>Beca del Rector ESEN</h2>
            <p>
              (2019)
            </p>
          </div>

          <div class="tier-item">
            <i class="fas fa-hard-hat" aria-hidden="true"></i>
            <h2>Beca FANTEL</h2>
            <p>
              (2020 - 2023)
            </p>
          </div>

          <div class="tier-item">
            <i class="fas fa-hard-hat" aria-hidden="true"></i>
            <h2>Toelf IBT</h2>
            <p>
              (2019)
            </p>
          </div>

        </div>
      </div>
      <hr />
    </section>

    <section id="contact" class="contact">
      <h2>Contacto</h2>
      <p>
        No dude en contactarme por cualquiera de las siguientes redes.
      </p>
      <div class="container">
        <p>
          <a href="mailto:gilelopez@hotmail.com"><i class="fas fa-envelope-open"></i> gilelopez@hotmail.com</a>
        </p>
        <p>
          <a href="http://linkedin.com/in/gil-l%C3%B3pez-8b0a1b189" target="_blank"><i class="fab fa-linkedin">
              LinkedIn</i></a>
        </p>
        <p>
          <a href="https://twitter.com/GilLpez2" target="_blank"><i class="fab fa-twitter"> Twitter</i></a>
        </p>
      </div>
      <hr />
    </section>

    <footer>
      <div class="footer-nav">
        <a href="#landing-page" class="footer-nav-link">Home</a>
        <a href="#about" class="footer-nav-link">About</a>
        <a href="#services" class="footer-nav-link">Services</a>
        <a href="projects" class="footer-nav-link">Projects</a>
        <a href="#contact" class="footer-nav-link">Contact</a>
      </div>
      <div class="footer-coded-by">
        <p>
          <i class="fas fa-code"></i> with 💙 by Chaoo Charles &copy; 2020
        </p>
        <p>Built with pure HTML, CSS and JavaScript</p>
      </div>
      <div class="footer-social">
        <a href="#" target="_blank"><i class="fab fa-youtube"></i></a>
        <a href="#" target="_blank"><i class="fab fa-dev"></i></a>
        <a href="#" target="_blank"><i class="fab fa-twitter"></i></a>
      </div>
    </footer>

  </main>

  <script src="/static/main.js"></script>
</body>

</html>